.navbar-nav-item-extended, .navbar-nav-item-retracted {
    display: flex;
    flex-direction: row;
    align-items: center;
    height: 5rem;
    filter: grayscale(100%) opacity(0.7);
}

.navbar-nav-item-extended:hover, .navbar-nav-item-retracted:hover {
    background-color: var(--bg-color-secondary-navbar);
    filter: grayscale(0%) opacity(1);
}

.title-text {
    transition: visibility var(--transition-speed-navbar-extended) ease;
}

.navbar-nav-item-extended .title-text {
    visibility: visible;
}

.navbar-nav-item-retracted .title-text {
    visibility: hidden;
}

.logo {
    width: 2rem;
    min-width: 2rem;
    margin: 0 1.5rem;
}

.title-text {
    margin-left: 1rem;
}